@import "./assets/fonts/stylesheet.css";

.App {
  text-align: center;
  background-color: rgb(168, 0, 0);
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
}
/*/////////////////////////////////////////////////////////*/
/*/ ////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////*/
/* FORMS /////*/
/*/////////////////////////////////////////////////////////*/
/*/ ////////////////////////////////////////////////////////*/

.signup-container {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: "column";
  justify-content: center;
  text-align: center;
  height: 100%;
  width: 100%;
  background-color: rgb(168, 0, 0);
}
.signup-form > h2 {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 20px;
}
.signup-form {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 300px;
}
.signup-form > input {
  font-family: "Roboto", sans-serif;
  border: none;
  border-bottom: 1px solid lightgray;
  height: 40px;
  margin-bottom: 30px;
  margin-top: 30px;
}
.signup-form > select {
  font-family: "Roboto", sans-serif;
  border: none;
  border-bottom: 1px solid lightgray;
  height: 40px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.signup-form button {
  font-family: "Roboto", sans-serif;
  background-color: black;
  color: rgb(168, 0, 0);
  border: none;
  outline: none;
  border-radius: 15px;
  height: 40px;
  width: 100%;
}
.signup-login-error-message {
  font-family: "Roboto", sans-serif;
  color: white;
  font-size: 20px;
  padding: 5px;
}
/*/////////////////////////////////////////////////////////*/
/*/ ////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////*/
/*/
Event /// /*/
/*/////////////////////////////////////////////////////////*/
/*/ ////////////////////////////////////////////////////////*/

.event-body {
  font-family: "Roboto", sans-serif;
  height: calc(100vh - 50px);
  background-color: rgb(168, 0, 0);
  padding: 20px;
  gap: 10px;
}
.event-container {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  margin: 10px auto;
  padding: 30px;
  gap: 30px;
  border-radius: 10%;
  background-color: white;
}
.event-payement {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  margin: 10px auto;
  padding: 30px;
  gap: 30px;
  border-radius: 10%;
  background-color: white;
}
.event-container h1 {
  font-family: "Roboto", sans-serif;
  color: white;
}

.event-container h2 {
  font-family: "Roboto", sans-serif;
  color: darkred;
}
.event-container img {
  object-fit: contain;
}
.event-container p {
  font-family: "Roboto", sans-serif;
  color: darkred;
  text-align: center;
}
.event-link {
  font-family: "Roboto", sans-serif;
  display: block;
  width: 100%;
  margin: 5px auto;
  max-width: 200px;
  padding: 5px;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  color: white;
  background-color: darkred;
}
.ticket-info {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
/*/////////////////////////////////////////////////////////*/
/*/ ////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////*/
/*/
preview /// /*/
/*/////////////////////////////////////////////////////////*/
/*/ ////////////////////////////////////////////////////////*/

.preview-image {
  font-family: "Roboto", sans-serif;
  border: 1px #ebedee dashed;
  border-radius: 3px;
  height: 200px;
  display: flex;
  align-items: center;
}
.preview-image img {
  height: 90%;
  margin: 0 10px;
}
.remove-img-button {
  font-family: "Roboto", sans-serif;
  position: relative;
  color: black;
  background-color: white;
  right: 60px;
  bottom: 70px;
  height: 25px;
  line-height: 25px;
  width: 30px;
  border-radius: 10px;
  text-align: center;
  font-weight: 700;
  cursor: pointer;
}
.preview-without {
  font-family: "Roboto", sans-serif;
  border: 1px rgb(168, 0, 0) dashed;
  border-radius: 3px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-design-default {
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(168, 0, 0);
  border-radius: 4px;
  height: 45px;
  width: 200px;
}
.label-file {
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  color: rgb(168, 0, 0);
  font-weight: bold;
}
.input-sign {
  font-size: 40px;
}
/*/////////////////////////////////////////////////////////*/
/*/ ////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////*/
/*/Menu /// /*/
/*/////////////////////////////////////////////////////////*/
/*/ ////////////////////////////////////////////////////////*/
.bm-menu {
  font-family: "Roboto", sans-serif;
  overflow: hidden;
  font-size: 24px;
  padding: 24px 0;
  width: 300px;
  background-color: #333333;
  color: #fff;
}

.bm-menu-item {
  font-family: "Roboto", sans-serif;
  overflow: hidden;
  padding: 8px 16px;
  margin: 8px 0;
  display: block;
  outline: none;
  text-decoration: none;
  color: #fff;
}

.bm-menu-item:hover,
.bm-menu-item.active {
  background-color: #444444;
}

.bm-burger-button {
  overflow: hidden;
  position: fixed;
  width: 36px;
  height: 30px;
  left: 20px;
  top: 20px;
}

.bm-burger-bars {
  overflow: hidden;
  background-color: #fff;
}

.bm-cross-button {
  height: 24px;
  width: 24px;
}

.bm-cross {
  background: #bdc3c7;
}
.divider {
  display: block;
  width: 100%;
  height: 1px;
  background: rgba(17, 17, 17, 0.1);
}
