.App {
  text-align: center;
  background-color: darkred;
  height: 100vh;
  width: 100vw;
}
/*/////////////////////////////////////////////////////////*/
/*/ ////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////*/
/* FORMS /////*/
/*/////////////////////////////////////////////////////////*/
/*/ ////////////////////////////////////////////////////////*/

.signup-container {
  display: flex;
  flex-direction: "column";
  justify-content: center;
  text-align: center;
  height: 100vh;
  width: 100vw;
  background-color: rgb(168, 0, 0);
}
.signup-form > h2 {
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 20px;
}
.signup-form {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 300px;
}
.signup-form > input {
  border: none;
  border-bottom: 1px solid lightgray;
  height: 40px;
  margin-bottom: 30px;
  margin-top: 30px;
}
.signup-form > select {
  border: none;
  border-bottom: 1px solid lightgray;
  height: 40px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.signup-form button {
  background-color: black;
  color: rgb(168, 0, 0);
  border: none;
  outline: none;
  border-radius: 15px;
  height: 40px;
  width: 100%;
}
.signup-login-error-message {
  color: white;
  font-size: 20px;
  padding: 5px;
}
/*/////////////////////////////////////////////////////////*/
/*/ ////////////////////////////////////////////////////////*/
/*/////////////////////////////////////////////////////////*/
/*/
Event /// /*/
/*/////////////////////////////////////////////////////////*/
/*/ ////////////////////////////////////////////////////////*/

.event-body {
  height: calc(100vh - 50px);
  background-color: rgb(168, 0, 0);
}
.event-container {
  width: 100vw;
  margin: 0px auto;
  display: flex;
  justify-content: space-around;
  padding: 30px;
  gap: 30px;
}
